---
layout: base
---

<h2 class="title"><i><u>The Chill Programmer Vibes Webring</u></i></h2>
<i>This page is under construction</i>
<p>
This is a webring of chill programming websites. 
</p>
<p>
To join the webring, <a href="{{ meta.repo }}/compare">open a pull request</a> 
and supply the name and URL of your site in <code>src/data/members.json</code>
</p>

<h2>Add the banner</h2>
<p>
Once you've joined the ring, copy this code snippet into your site:
</p>

{% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}
